 <div class="container">

      <div class="starter-template">
        <h1>Blocitoff</h1>
        <p class="lead">A self destructing to-do list.</p>
          <a class="btn btn-primary btn-lg" href="#/register" >Get Started - It's Free</a>
      </div>
      <div class="row">
		  <div class="col-md-4">
           <h2>Hide 7 days old task.</h2>
           <p>Hide tasks that are > 7 days old using Angular.Display current tasks in a list that is the main view of the app.Display past tasks in a list</p> 
		  </div>
		  <div class="col-md-4">
          <h2>Interface to add new task.</h2>
          <p>Form that allows you to submit new tasks.</p>
		  </div>
		  <div class="col-md-4">
          <h2>Enhance your productivity</h2> 
          <p>Interface component for marking tasks that are completed.</p>
		  </div>
	 </div>

    </div><!-- /.container -->
